* {
  margin: 0;
  padding: 0;
}

div {
  display: block;
}

.wrapper {
  border-radius: 8px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 0 0 8px 8px;
  position: relative;
  z-index: 1;
  /* max-width: 1036px; */
  margin: 0 auto;
}

.games_infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-left: 20px;
  background: #fff;
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
}

.product{
  display: flex;
  border-radius: 8px;
}

.name {
  color: black
}

.img {
  width: 100%;
  border-radius: 8px;
}

.subinfos {
  border: 1px solid rgba(62,62,62,.2);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
  background: rgba(0,0,0,.04);
  flex-wrap: wrap;
  padding: 5px;
}

.platforms {
  position: relative;
  color: #000;
  padding: 8px 14px 7px 38px;
  display: inline-block;
  border-right: 1px solid rgba(62,62,62,.23);
  font-weight: 700;
  font-size: 13px;
  margin: 5px 0;
}

.category {
  display: inline-block;
  padding: 8px 17px 7px 15px;
  border-right: 1px solid rgba(62,62,62,.23);
  vertical-align: top;
  font-weight: 700;
  font-size: 13px;
  color: #000;
}

.price {
  display: inline-block;
  padding: 8px 17px 7px 15px;
  border-right: 1px solid rgba(62,62,62,.23);
  vertical-align: top;
  font-weight: 700;
  font-size: 13px;
  color: #000;
}

.disponibility {
  display: inline-block;
  padding: 8px 17px 7px 15px;
  border-right: 1px solid rgba(62,62,62,.23);
  vertical-align: top;
  font-weight: 700;
  font-size: 13px;
  color: #000;
}

.vu {
  margin-right: 6px;
  width: 14px;
  border: 0;
}

.btn {
    display: inline-block;
    padding: 8px 17px 7px 15px;
    vertical-align: top;
    font-weight: 700;
    font-size: 13px;
    color: #000;
}

body {
    font-family: proximanova,arial,sans-serif;
    font-size: 13px;
    color: gray;
    background: #ffff;
    display: flex;
    flex-direction: column;
}

body {
    --themed-white: #fff;
    --themed-black: #1f1f1f;
    --themed-very-light-green: #d4edda;
    --themed-light-green: #54c202;
    --themed-dark-green: #155724;
    --themed-light-orange: #ffc000;
    --themed-orange: #ff5400;
    --themed-very-light-grey: #f4f4f3;
    --themed-light-grey: #bdbdbd;
    --themed-grey: #777;
    --themed-dark-grey: #444;
    --themed-very-light-red: #f8d7da;
    --themed-light-red: #ff9ba4;
    --themed-red: #ff4256;
    --themed-dark-red: #721c24;
    --themed-very-light-yellow: #fff3cd;
    --themed-dark-yellow: #e49f00;
    --themed-very-light-blue: #cce5ff;
    --themed-blue: #2381d9;
    --themed-dark-blue: #004085;
}
