<div class="footer d-flex justify-content-between px-4 py-2 align-items-center">
  <div class="d-flex justify-content-center footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="text-center text-dark p-3">
    This footer is made with <i class="fas fa-heart"></i> for gaming
  </div>
</div>
