<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1550745165-9bc0b252726f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3870&q=80);">
  <div class="container">
    <h1>Game-Swap</h1>
    <p>Good Game Well Played</p>
    <a class="btnhomepage" href="#">Rent Now</a>
  </div>
</div>
