* {
  margin: 0;
  padding: 0;
}

div {
  display: block;
}

.wrapper {
  border-radius: 8px;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 0 0 8px 8px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.games_infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-left: 20px;
  background: #F1F2F8;
  overflow: hidden;
  width: 100%;
  border-radius: 8px;
  flex-grow: 1;

}

.product{
  display: flex;
  border-radius: 8px;
}

.name {
  color: #2C2C42
}

.subinfos {
  border: 1px solid #5968c985;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 0;
  background: #E9EBF8;
  flex-wrap: wrap;
  padding: 5px;
}

.platforms {
  position: relative;
  color: #2C2C42;
  padding: 8px 14px 7px 38px;
  display: inline-block;
  border-right: 1px solid #5968c985;
  font-weight: 700;
  font-size: 15px;
  margin: 5px 0;
}

.category {
  display: inline-block;
  padding: 8px 17px 7px 15px;
  border-right: 1px solid #5968c985;
  vertical-align: top;
  font-weight: 700;
  font-size: 15px;
  color: #2C2C42;
}

.release_year {
  display: inline-block;
  padding: 8px 17px 7px 15px;
  border-right: 1px solid #5968c985;
  vertical-align: top;
  font-weight: 700;
  font-size: 15px;
  color: #2C2C42;
}

.disponibility {
  display: inline-block;
  padding: 8px 17px 7px 15px;
  vertical-align: top;
  font-weight: 700;
  font-size: 15px;
  color: #2C2C42;
}

.vu {
  margin-right: 6px;
  width: 14px;
  border: 0;
}


body {
  font-family: proximanova,arial,sans-serif;
  font-size: 13px;
  color: #2c2c42cc;
  background: #F1F2F8;
  display: flex;
  flex-direction: column;
}

.product-image {
  width: 100%;
  max-height: 50vh;
  padding-left: 30px;
  background-position: center;
  background-size: cover;
}

.rent {
  border-radius: 6px;
  border: 1px solid #5968c92a;
  color: #2C2C42;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 10px 0;
  background: #E9EBF8;
  flex-wrap: wrap;
  padding: 5px;
}

.rent_price {
  position: relative;
  color: #2C2C42;
  padding: 8px 17px 7px 15px;
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  margin: 5px 0;
}

/*.rent_btn {
    display: inline-block;
    padding: 8px 17px 7px 15px;
    vertical-align: top;
    font-weight: 700;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}*/

.correction {
  padding: 25px;
}

.card {
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  width: 115vh;
  background-color: #F1F2F8;
}

/*.rent_btn {
  background-color: #769CEC;
  color: white;
  border-radius: 20px;
  padding: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1rem;
}*/

.rent-btn-disabled {
  pointer-events: none;
  cursor: not-allowed;
  &:after {
    background-color: gray;
  }
}

$color: #769CEC;

.rent_btn {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 5px;
    z-index: -2;
  }
  &:before {
  content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 15%);
    transition: all .3s;
    border-radius: 5px;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}
