<!--
<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>My bookings</h1>
    </div>
  </div>

  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-4">
        <div class="game shadow d-flex flex-column h-100 ml-3 align-middle">
          <%= cl_image_tag @game.image.key, crop: :fill, class: 'w-100' %>
          <div class="container d-flex justify-content-between mt-2">
            <p><%= @game.title %></p>
            <p><%= @game.platform %></p>
          </div>
          <p class="container"><%= @game.price_per_day %> CHF /day</p>
        </div>
      </div>
    <% end %>
  </div>
</div>
-->
