.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 5px;
  background: #769CEC;
  transition: background 0.3s ease;
}

.btn-cancel {
  color: white;
  padding: 8px 24px;
  border-radius: 5px;
  background: #5968C9;
  transition: background 0.3s ease;
}
