.game {
  border-radius: 8px;
}

.game img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 200px;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}
