.navbar {
  color: #E9EBF8;
  height: 7vh;
}

.navbar .navbar-collapse {
  flex-grow: 0;
  right: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.dropdown {
  position: relative;
  display: inline-block;
  border: 0px;
  min-width: 10vmin;
  max-width: 40vmin;

  flex-grow: 0;
  transition: height .4s ease;
}

.dropdown-content {
  right: 0;
}
